h1 {
  position: relative;
  color: #ffffff;
  z-index: 30;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

#add_tackle {
  position: relative;
  z-index: 30;
}

#tackleform {
  width: 100%;
  min-height: 100%;
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-flow: column;
}

.info {
  width: 100%;
  margin: auto;
}

.photo {
  margin: auto;
}
.photo img {
  min-width: 20vw;
  max-height: 20rem;
  margin: auto;
  background-color: #ffffff;
}
.photo input {
  width: 20rem;
}

.tackleinfo {
  text-align: right;
  padding: 2rem;
}
.tackleinfo .photo {
  float: left;
}

.fishinfo {
  text-align: left;
  padding: 2rem;
}
.fishinfo .photo {
  float: right;
}

.updateButton {
  margin-top: 3rem;
  margin: auto;
}

#required {
  color: #fd0606;
  font-size: 0.5rem;
}

ul {
  position: relative;
  z-index: 30;
  color: #06fd8a;
}
ul li {
  list-style: none;
}
ul a {
  color: #06fd8a;
  text-decoration: none;
}

.content {
  position: relative;
  z-index: 33;
}

select {
  position: relative;
  z-index: 30;
}

.search {
  width: 100%;
  display: inline-flex;
}
.search .search_image {
  background-image: url("../js/Pages/images/Search.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.8rem;
  min-height: 1.8rem;
  border-radius: 20px;
  position: relative;
  z-index: 30;
  display: inline-block;
  margin-right: 1rem;
}

.ourTackle {
  position: relative;
  margin: auto;
  width: 50em;
}
.ourTackle a {
  color: #ffffff;
  font-weight: bold;
  padding-left: 5rem;
  padding-top: 3rem;
  font-size: 0.5rem;
}
.ourTackle ul {
  position: relative;
  padding-left: unset;
  text-align: center;
}
.ourTackle li {
  border-radius: 15px;
  background-color: rgba(228, 238, 237, 0.631372549);
}
.ourTackle .sharePhoto {
  height: 13rem;
}
.ourTackle img {
  position: relative;
  max-width: 13rem;
  max-height: 10rem;
}
.ourTackle .ourPhoto {
  display: flex;
}
.ourTackle .tackleShare {
  padding-top: 30px;
  display: inline-block;
}
.ourTackle .fishingShare {
  display: inline-block;
}
.ourTackle .goodAction {
  width: 100%;
}
.ourTackle .goodAction p {
  margin: 0 2rem 2rem auto;
  width: 1.5rem;
  background-color: aqua;
  border-radius: 50px;
  background-image: url("../js/Pages/images/goodButton.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.ourTackle .goodAction a {
  padding-top: 0;
  padding-left: 2rem;
}
.ourTackle .goodAction span {
  position: relative;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  font-weight: bold;
}