h1 {
  position: relative;
  color:#ffffff;
  z-index:30;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}

#add_tackle {
  position: relative;
  z-index:30;
}

#tackleform {
  width: 100%;
  min-height: 100%;
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-flow: column;

  .tackleinfo {

    .info {
      padding-left: 2rem;
    }

    .photo {
      float: right;
      padding-right: 2rem;
      text-align: center;

      img {
        min-width: 20rem;
        min-height: 15rem;
      }
    }
  }

  .fishinfo {

    .info {
      text-align: right;
      padding-right: 3rem;
    }
    .photo {
      float: left;
      padding-left: 2rem;
      text-align: center;

      img {
        min-width: 20rem;
        min-height: 15rem;
      }
    }
  }
}

.updateButton {
  margin-top: 3rem;
  margin: auto;
}

#required {
  color: #fd0606;
  font-size: 0.5rem;
}

ul {
  position: relative;
  z-index:30;
  color:#06fd8a;

  li {
    list-style: none;
  }
  
  a {
    color:#06fd8a;
    text-decoration: none;
    }
}

.content {
  position: relative;
  z-index: 33;
}


select {
  position:relative;
  z-index: 30;
}

.search {
  padding-left: 1rem;
  width: 100%;
  display: inline-flex;

  .search_image {
    background-image: url("../js/Pages/images/Search.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:1.8rem;
    min-height: 1.8rem;
    border-radius: 20px;
    position: relative;
    z-index: 30;
    display: inline-block;
    margin-right: 1rem;
  }
}


.ourTackle {
  position:relative;
  margin: auto;
  width: 50em;
  text-align: center;

  h2 {
    color: #ffffff;
    padding-top: 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  table {
    display: unset;
    border-spacing: 0.5rem;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-right: 1rem;

    th {
      width: 8rem;
    }

    .tackle {
      text-align: center;
    }

    .fishing {
      text-align: center;
    }
  }

  ul {
    padding-left: unset;
  }

  li {
    border-radius: 15px;
    background-color: #e4eeeda1;

  }

  .ourPhoto {
    justify-content: center;
    display: flex;

  }
  img {
    padding: 0 0.5rem;
    width:13rem;
    position: relative;
    height: 10rem;
  }

  .tackleShare {
    padding-top: 30px;
    display: inline-block;
    text-align: center;
  }

  .goodAction {
    width:100%;

    p {
      text-align: right;

    button {
      height: 1.75rem;
      margin: 0 1rem 0 auto;
      width: 1.5rem;
      background-color: aqua;
      border-radius:50px;
      background-image: url("../js/Pages/images/goodButton.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    a {
      padding-top: 0;
      padding-left: 1rem;
    }

    span {
      position: relative;
      padding: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      padding-right: 1rem;
    }
  }
  }
  }